<h1>Question <%= @question.id %></h1>

<h2><%= @question.title %></h2>

<p> <%= @question.text %> </p>
<p> By: <%= @question.user.name %> </p>
<ul>Tags:
  <% @question.tags.each do |tag| %>
  <li><%= tag.title %></li>
  <% end %>
</ul>
<h2>Answers:</h2>
<% if @answers %>
  <ul>
  <% @answers.each do |answer| %>
    <li> <%= answer.text %> 
      <p>By <%= answer.user.name %></p>
    </li>
  <%end%>
  </ul>
<%end%>
